#navbar {
    transition: width 0.2s ease-in-out;
}

#navbar:hover {
    width: 150px !important;
    box-shadow: rgba(50, 50, 93, 0.45) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
/*
@media (max-width: 768px) {
    #navbar:hover {
        width: 100% !important;
    }
} */
